
*{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
.a{
    font-weight: 500;
}

.class {
   font-weight: 700;
}

.class {
    font-weight: 700;
}
.class {
    font-weight: 900;
}

    
